<footer>
    <div class="footer">
        <div class="footerleft">
            <h2><span>Mobile</span> Shop</h2>
            <p><span>E</span>-commarce</p> 
        </div>
        <div class="footermid">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-whatsapp"></i>
            <i class="fa fa-linkedin"></i>
            <p>Contact Us</p>
        </div>
        <div class="footerright">
            2023 || &copyCopyRight All Reserved
        </div>
    </div>
</footer>
</body>
</html>